<div style="text-align: left;display: flex;flex-direction: column;">
<label for="prenom">Prénom</label>
<input style="border: 1px solid grey;border-radius: 3px;margin: 10px 10px 0 0;" type="text" id="prenom" name="properties[prenom]" required>  
</div>
